.genrecard {
    box-sizing: border-box;
    background-color: $darkMedium;
    border: solid 1px $darkLight;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    &__title {
        text-align: center;
        color: $white;
        font-family: $manrope;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}