@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
h1 {
  font-family: "Manrope", sans-serif;
}

body {
  color: #E4E4E7;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #141414;
  font-weight: 300;
}

p {
  font-size: 14px;
}

.App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.App__hero {
  width: 100vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .App__hero {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.App__movies {
  margin-top: 48px;
  width: 88vw;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  z-index: 2;
  width: 100vw;
  padding: 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141414;
}

@media (min-width: 900px) {
  .header {
    padding: 16px 32px 16px 24px;
  }
}

.header__logo {
  z-index: 2;
  height: 32px;
}

@media (min-width: 1200px) {
  .header__logo {
    height: 38px;
  }
}

.header__cta {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__cta__searchbar {
  display: none;
}

@media (min-width: 900px) {
  .header__cta__searchbar {
    display: block;
    width: 500px;
  }
}

.header__cta__search {
  background-color: transparent;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 4px;
}

@media (min-width: 900px) {
  .header__cta__search {
    display: none;
  }
}

.header__cta__search--icon {
  color: #fff;
  height: 24px;
}

.header__cta__close {
  z-index: 2;
  background-color: #141414;
  border: none;
  height: 44px;
  width: 44px;
}

.header__cta__close--icon {
  color: #fff;
  height: 24px;
}

.header__searchfield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  margin-top: 40px;
  padding: 24px 20px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__searchfield__bar {
  width: 100%;
}

.header__searchfieldnull {
  display: none;
}

.heroCarousel {
  position: relative;
  overflow: hidden;
  width: 96vw;
  max-width: 1440px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

@media (min-width: 900px) {
  .heroCarousel {
    height: 600px;
  }
}

.heroCarousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.heroCarousel__item {
  position: relative;
  min-width: 100%;
  height: 600px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .heroCarousel__item {
    height: 600px;
    padding: 12px 100px 24px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .heroCarousel__item {
    padding: 12px 200px 24px 200px;
  }
}

.heroCarousel__item__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(2px) brightness(25%);
          filter: blur(2px) brightness(25%);
}

.heroCarousel__item__cadre {
  background-color: #1A1A1A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #262626;
  height: 60%;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
}

@media (min-width: 900px) {
  .heroCarousel__item__cadre {
    margin-right: 32px;
  }
}

@media (min-width: 1200px) {
  .heroCarousel__item__cadre {
    height: 80%;
  }
}

.heroCarousel__item__cadre__img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.heroCarousel__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

@media (min-width: 900px) {
  .heroCarousel__item__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.heroCarousel__item__content--title {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: normal;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 900px) {
  .heroCarousel__item__content--title {
    text-align: left;
  }
}

.heroCarousel__item__content--description {
  display: none;
  color: #E4E4E7;
  width: 100%;
  white-space: normal;
  text-align: left;
}

@media (min-width: 900px) {
  .heroCarousel__item__content--description {
    display: block;
    margin-bottom: 20px;
  }
}

.heroCarousel__item__content__cta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heroCarousel__item__content__cta > button {
  margin: 4px;
}

.heroCarousel__index {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px 48px;
}

@media (min-width: 900px) {
  .heroCarousel__index {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.heroCarousel__index__indicator {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.heroCarousel__index__indicator > button {
  margin: 8px;
}

.movieSlider {
  overflow: hidden;
  width: 100%;
  margin-bottom: 48px;
}

.movieSlider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.movieSlider__header__title {
  color: #fff;
}

.movieSlider__inner {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slick-slide > div {
  margin: 0 12px;
}

.slick-list {
  margin: 0 -12px;
}

.slick-dots-index {
  background-color: #fff;
  height: 4px;
  width: 12px;
}

.genreSlider {
  overflow: hidden;
  width: 100%;
  margin-bottom: 48px;
}

.genreSlider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.genreSlider__header__title {
  color: #fff;
}

.genreSlider__inner {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slick-slide > div {
  margin: 0 12px;
}

.slick-list {
  margin: 0 -12px;
}

.slick-dots-index {
  background-color: #fff;
  height: 4px;
  width: 12px;
}

.inputSearch {
  background-color: #262626;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputSearch__input {
  height: 44px;
  border: none;
  width: 80%;
  margin: 0 8px;
  background-color: #262626;
  color: #fff;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.inputSearch__input:focus {
  outline: none;
}

.inputSearch__input::-webkit-input-placeholder {
  color: #999999;
}

.inputSearch__input:-ms-input-placeholder {
  color: #999999;
}

.inputSearch__input::-ms-input-placeholder {
  color: #999999;
}

.inputSearch__input::placeholder {
  color: #999999;
}

.carouselindex {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px 48px;
}

@media (min-width: 900px) {
  .carouselindex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.carouselindex__indicator {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.carouselindex__indicator > button {
  margin: 8px;
}

.slidernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  gap: 8px;
}

.moviecard {
  background-color: #1A1A1A;
  border: solid 1px #262626;
  width: 100%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.moviecard__imgbox {
  position: relative;
}

.moviecard__imgbox__soon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #5D05FF;
  color: #fff;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.moviecard__imgbox__img {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 8px;
  margin-bottom: 12px;
}

.moviecard__title {
  text-align: center;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 300;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genrecard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1A1A1A;
  border: solid 1px #262626;
  width: 100%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  cursor: pointer;
}

.genrecard:hover {
  border: solid 1px #5D05FF;
}

.genrecard__title {
  text-align: center;
  color: #fff;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ctabutton {
  background-color: #5D05FF;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.ctabutton:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.ctabutton:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.funcbutton {
  height: 44px;
  width: 44px;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #141414;
  border: solid 2px #262626;
  border-radius: 4px;
  cursor: pointer;
}

.funcbutton:hover {
  border: solid 2px #5D05FF;
}

.funcbutton:active {
  border: solid 2px #5D05FF;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.small {
  height: 40px;
}

.indexbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.indexbutton--icon {
  background-color: #fff;
  border-radius: 2px;
  height: 8px;
  width: 24px;
}

.indexbutton--icon--active {
  background-color: #5D05FF;
  border-radius: 2px;
  height: 8px;
  width: 32px;
}

.cardtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #141414;
  border: solid 1px #262626;
  border-radius: 50px;
  padding: 4px 8px 4px 4px;
  -ms-flex-item-align: center;
      align-self: center;
}

.cardtag__text {
  margin-left: 4px;
  font-size: 12px;
  color: #999999;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.icons {
  height: 24px;
  color: #fff;
  vertical-align: middle;
}
/*# sourceMappingURL=index.css.map */