//Settings
@import './settings/colors.scss';
@import './settings/fonts.scss';
@import './settings/mediaQueries.scss';

//Pages
@import "../pages/homepage/App.scss";
@import "../pages/movies/movies.scss";

//Organisms
@import "../components/organisms/header/header.scss";
@import "../components/organisms/heroCarousel/heroCarousel.scss";
@import "../components/organisms/movieSlider/movieSlider.scss";
@import "../components/organisms/genreslider/genreSlider.scss";

//Molecules
@import "../components/molecules/searchbar/searchbar.scss";
@import "../components/molecules/carouselnav/carouselnav.scss";
@import "../components/molecules/sliderNav/sliderNav.scss";
@import "../components/molecules/cards/moviecard/movieCard.scss";
@import "../components/molecules/cards/genrecard/genreCard.scss";

//Atoms
@import "../components/atoms/buttons/ctabutton/ctabutton.scss";
@import "../components/atoms/buttons/functionalbutton/funcbutton.scss";
@import "../components/atoms/buttons/indexbutton/indexbutton.scss";
@import "../components/atoms/tags/cardtags/cardTag.scss";
@import "../components/atoms/buttons/switchbutton/switchbutton.scss";



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icons {
  height: 24px;
  color: $white;
  vertical-align: middle;
}


