.heroCarousel {
    position: relative;
    overflow: hidden;
    width: 96vw;
    max-width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    @include tabletLandscape {
        height: 600px;
    }
    &__inner {
        display: flex;
        white-space: nowrap;
        transition: transform 0.3s;
    }
    &__item {
        position: relative;
        min-width: 100%;
        height: 600px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tabletLandscape {
            height: 600px;
            padding: 12px 100px 24px 100px;
            flex-direction: row;
        }
        @include Desktop {
            padding: 12px 200px 24px 200px;
        }
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            object-fit: cover;
            filter: blur(2px) brightness(25%);
        }
        &__cadre {
            background-color: $darkMedium;
            box-sizing: border-box;
            border: solid 1px $darkLight;
            height: 60%;
            border-radius: 8px;
            padding: 12px;
            margin-bottom: 12px;
            @include tabletLandscape {
                margin-right: 32px;
            }
            @include Desktop {
                height: 80%;
            }
            &__img {
                height: 100%;
                width: auto;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 44px;
            @include tabletLandscape {
                align-items: flex-start;
            }
            &--title {
                color: $white;
                font-size: $h2mobile;
                text-transform: uppercase;
                margin-bottom: 12px;
                white-space: normal;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                @include tabletLandscape {
                    font-size: $h2desktop;
                    text-align: left;
                }
            }
            &--description {
                display: none;
                color: $greyLight;
                width: 100%;
                white-space: normal;
                text-align: left;
                @include tabletLandscape {
                    display: block;
                    margin-bottom: 20px;
                }
            }
            &__cta {
                display: inline-flex;
                flex-wrap: wrap;
                > button {
                    margin: 4px;
                }
            }
        }
    }
    &__index {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 24px 48px;
        @include tabletLandscape {
            justify-content: space-between;
        }
        &__indicator {
            align-self: center;
            > button {
                margin: 8px;
            }
        }
    }
}