.funcbutton {
    height: 44px;
    width: 44px;
    justify-self: right;
    align-self: center;
    background-color: $dark;
    border: solid 2px $darkLight;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        border: solid 2px $primary; 
    }
    &:active {
        border: solid 2px $primary; 
        transform: translateY(2px);
    }
}

.small {
    height: 40px;
}