.mediacard {
    background-color: $darkMedium;
    border: solid 1px $darkLight;
    width: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    &:hover {
        border: solid 1px $primary;
    }
    &__imgbox {
        position: relative;
        &__soon {
            position: absolute;
            top: 8px;
            right: 8px;
            background-color: $primary;
            color: $white;
            font-weight: $medium;
            padding: 4px 8px;
            border-radius: 4px;
        }
        &__img {
            width: 100%;
            aspect-ratio: 2 / 3;
            border-radius: 8px;
            margin-bottom: 12px;
        }
    }
    &__title {
        text-align: center;
        color: $white;
        font-family: $manrope;
        font-size: 16px;
        font-weight: 300;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}