.mediaSlider {
    overflow: hidden;
    width: 100%;
    margin-bottom: 48px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        &__title {
            margin-right: 8px;
            color: $white;
            font-size: $h2mobile;
            @include tablet {
                font-size: $h2desktop;
            }
        }
    }
    &__box {
        position: relative;
        margin-right: -44px;
        &__fade {
            position: absolute;
            z-index: 1;
            pointer-events: none;
            right: 44px;
            height: 100%;
            width: 5%;
            background: linear-gradient(90deg, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%);
        }
        &__inner {
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            gap: 12px;
            list-style: none;
            overflow-x: scroll;
            margin-right: 44px;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &:-webkit-scrollbar {
                display: none;
            }
        }
    }
}


