.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  &__hero {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    @include tablet {
        height: fit-content;
    }
  }
  &__movies {
    margin-top: 48px;
    width: 88vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

