.App {
  text-align: center;
  position: relative;
  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  &__hero {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    @include tablet {
        height: fit-content;
    }
  }
}

