//Absolute
$white: #EBEBEB;
$black: #000;

//Red
$primary: #5D05FF;
$primaryLight: #B48CFF;

//Black
$veryDark: #0F0F0F;
$dark: #141414;
$darkMedium: #1A1A1A;
$darkLight: #262626;
$darkVeryLight: #4C4C4C;

//Grey
$grey: #999999;
$greyLight: #E4E4E7;
